* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #a1c3ff;
}

img {
    max-width: 100%;
}

h1, h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
   
}



.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    
}

.nav {

margin-left: 350px;
}

.navbar {
    background: #3474e6;
    color: #fff;
    height: 60px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;

}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

}

.header .button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 5px 7px;
}

.container button:hover {
    color: rgb(124, 77, 77);
}

.navbar a:hover {
    color: lightblue;
}

.navbar .container {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    margin-left: 10px;
    
    
}

.navbar ul li {
    margin-left: 0px;
    width: 150px;
   
   
}

.header {
    background-color: #0151cc;
    color: #fff;
    min-height: 400px;
    width:fit-content;
}

.header h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;

}

.header img {
    width: 1000px;
    margin-top: 50px;
}

.header .container {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    

}

.boxes .container {
    display: flex;
    justify-content: space-between;

}

.box {
    flex: 1;
    background: #0A51cc;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}

@media (max-width: 768px;) {
    .header .container {
        flex-direction: column; 
        padding-top: 20px;
        text-align: center;

    }

    .boxes .container {
        display: block;
        text-align: center;
         
    }

}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: bolder;
}


.nearbottomone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 40px 40px;
}

.footerone {
    background-color:  #3882F6;
    display: flex;
    
    justify-content: space-between;
    padding: 30px 30px;
    width: 700px;
    border-radius: 10px;
    
    
}

.footer .button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 5px 7px;
}

.footer .container {
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

